<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
</head>
<body>
    <form method="POST" action="/">
        <label for="fruit">Choose a fruit:</label>
        <select id="fruit" name="fruit">
            <option value="apple">Apple</option>
            <option value="banana">Banana</option>
        </select><br><br>
        <label for="folder_name">Enter local path:</label>
        <input type="text" id="folder_name" name="folder_name"><br><br>
        <button type="submit" name="submit" value="Create Folder">Create Folder</button>
        <button type="submit" name="submit" value="Generate Reports">Generate Reports</button>
    </form>
</body>
</html>